<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <p>Olá {{name}}</p>
    <br/>
    <p>Recebemos ums solicitação de redefinição de senha para a sua conta de usuário.</p>
    <p>Clique no link abaixo para fazer a redefinição da sua senha!</p>
    <p>
        <a href="{{link}}" target="_blank">Redefinir senha</a>
    </p>
    <p>Caso você não tenha feito o pedido de redefição de senha, descarte esse email ou entre em contato conosco.</p>
    <p>
        <a href="#" target="_blank">suporte@bayondcode.com</a>
    </p>
</div>
